*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 1366px;
  height: auto;
}
.container{
  display: flex;
  flex-direction: column;
}
.heading{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  flex:1;
  background-color: black;
}
.navbar{
 background-color:blue;
 width: 70%;
 align-content: flex-end;
}
.navbar ul{
  display: flex;
}
.navbar li{
  list-style-type: none;
}
.navbar a{
  text-decoration: none;
  margin-right: 10px;
  color: #59114D;
  font-size: 18px;
  font-weight: 500;
}
h1 {
  color: #59114D;
}
.logo {
  background-color: red;
  width: 30%;
}
img{
  width: 1366px;
  height: auto;
}
.footer{
  background-color: black;
  color: white;
  text-align: center;
}