*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 1366px;
  height: auto;
}
.container{
  display: flex;
  flex-direction: column;
}
.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.navbar{
 align-content: flex-end;
 flex: 1;
}
.navbar ul{
  display: flex;
}
.navbar li{
  list-style-type: none;
}
.navbar a{
  text-decoration: none;
  margin-right: 50px;
  color: gray;
  font-size: 18px;
  font-weight: 500;
}
h1 {
  color: grey;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 50px;
}
.logo {
  flex: 1;
}
img{
  width: 1366px;
  height: auto;
  border: none;
}
.footer{
  color: gray;
  text-align: center;
  margin-top: 10px;
  font-size: 11px;
}
@media (max-width: 480px) {
  .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
  .logo{
    margin-bottom: 10px;
    height: 200px;
    flex: 1;
  }
  .logo h1 {
    font-size: 96px;
    font-weight: 900;
  }
  .navbar{
    height: 100px;
  }
  .navbar a{
    font-size: 32px;
  }
  img{
    width: 100%;
    height: auto;
  }
  .mainArticle {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
  }
  .mainText-1{
    height: 300px;
    width: 100%;
    font-size: 120px;
    font-weight: 900;
    color: grey ;
    text-align: center;
  }
  .mainText-2{
    font-size: 32px;
    font-weight: 400;
    margin: 20px 50px 50px 20px;
    text-align: center;
  }
  .textPara-main{
    font-size: 32px;
    font-weight: 300;
    margin: 10px 150px;
    text-align: center;
    .png-images .lasagna{
      width 100%
      height: auto;
      margin: 0 30px;
    }
  }
  .footer{
    width: 100%;
    height: 400px;
    background-color: black ;
  }
}
 